// Homepage styles

.welcome-text-container {
  margin-bottom: 2rem;
}

// COMPONENT

.card {
  &:not(.about) {
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  min-height: 320px !important;

  img {
    height: 200px;
  }

  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.row.overview {
  margin-bottom: 4rem;
}
