#logo-icon{
    margin-left: 10px;
}
#artist_icon{
    margin-top: 12px;
}

.card{
    border-radius: 10px;
}

#musicsvg{
    margin-top: 25px;
}
.video-container iframe {
    background-image: url("./../img/undraw_compose_music_ovo2.svg");
    background-size: cover;
}